<phpunit
    stderr="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/latest/phpunit.xsd"
    bootstrap="tests_functional/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnPhpunitDeprecations="true"
    failOnPhpunitDeprecation="true"
    failOnRisky="true"
    failOnWarning="true">
    <testsuites>
        <testsuite name="tests">
            <directory>tests_functional</directory>
        </testsuite>
    </testsuites>
    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory suffix=".php">classes</directory>
            <directory suffix=".php">lib</directory>
        </include>
        <exclude>
            <directory suffix=".php">lib/gettext</directory>
        </exclude>
    </source>
    <php>
        <const name="IS_TESTING" value="true"/>
    </php>
</phpunit>
