<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttrss.module.article.mapper.ArticleMapper">

    <resultMap id="ArticleListResultMap" type="com.ttrss.module.article.dto.ArticleListDTO">
        <result column="int_id" property="intId"/>
        <result column="feed_id" property="feedId"/>
        <result column="ref_id" property="id"/>
        <result column="title" property="title"/>
        <result column="link" property="link"/>
        <result column="updated" property="updated"/>
        <result column="author" property="author"/>
        <result column="unread" property="unread"/>
        <result column="marked" property="marked"/>
        <result column="published" property="published"/>
        <result column="score" property="score"/>
        <result column="feed_title" property="feedTitle"/>
        <result column="relevance" property="relevance"/>
    </resultMap>

    <!-- 全文搜索文章 -->
    <select id="searchArticles" resultMap="ArticleListResultMap">
        SELECT
            ue.int_id,
            ue.feed_id,
            ue.ref_id,
            e.id,
            e.title,
            e.link,
            e.updated,
            e.author,
            ue.unread,
            ue.marked,
            ue.published,
            ue.score,
            f.title AS feed_title,
            ts_rank(e.search_vector, websearch_to_tsquery('simple', #{keyword})) AS relevance
        FROM ttrss_user_entries ue
        INNER JOIN ttrss_entries e ON ue.ref_id = e.id
        INNER JOIN ttrss_feeds f ON ue.feed_id = f.id
        WHERE ue.owner_uid = #{userId}
          AND e.search_vector @@ websearch_to_tsquery('simple', #{keyword})
        <if test="feedId != null">
          AND ue.feed_id = #{feedId}
        </if>
        <if test="categoryId != null">
          AND f.cat_id = #{categoryId}
        </if>
        ORDER BY relevance DESC, ue.int_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 统计搜索结果总数 -->
    <select id="countSearchArticles" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM ttrss_user_entries ue
        INNER JOIN ttrss_entries e ON ue.ref_id = e.id
        INNER JOIN ttrss_feeds f ON ue.feed_id = f.id
        WHERE ue.owner_uid = #{userId}
          AND e.search_vector @@ websearch_to_tsquery('simple', #{keyword})
        <if test="feedId != null">
          AND ue.feed_id = #{feedId}
        </if>
        <if test="categoryId != null">
          AND f.cat_id = #{categoryId}
        </if>
    </select>

</mapper>
