.flat {

	.dijitDialog .dijitDialogPaneContent {
		background : var(--color-panel-bg);
	}

	.dijitTab:not(.dijitTabChecked) {
		background : var(--color-panel-bg);
	}

	.dijitCheckBox {
		background : rgb(204 204 204 / 10%);
	}
}
